@use '../../variables' as *;

.modal-component {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(16px);
  overflow-y: auto;
  padding: 20px 0;
  z-index: 9999;

  .modal-content {
    max-width: 500px;
    width: 100%;
    background-color: #2b1f72;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    box-shadow: 0 10px 11px rgba(0, 0, 0, 54%);
    margin: 20px 0;
    .p-message {
      margin-bottom: 25px;
      font-size: 18px;
      font-weight: bold;
      color: white;
    }
    .p-message-error {
      margin-bottom: 25px;
      font-size: 18px;
      font-weight: bold;
    }
    .modal-verification-notification {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      gap: 20px;
      p {
        font-size: 18px;
        text-align: center;
        line-height: 25px;
      }
      button {
        padding: 10px 30px;
        background-color: #d2c81b;
        color: black;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
      }
    }

    h2 {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      text-align: center;
      margin-bottom: 30px;
    }
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      background: transparent;
      border: none;
      i {
        font-size: 20px;
        background-color: white;
      }
    }
    .notification-text {
      position: absolute;
      top: -100px;
      font-size: 30px;
    }
  }
}