@use '../../mixin' as *;

.slider-section {
  position: relative;
  background: #000;
  padding: 40px 0;
  width: 100%;
  @include screen-max-width-767 {
    padding: 0;
  }

  .slide {
    position: relative;
    width: 100%;
    height: 408px;
    overflow: hidden;

    @include screen-max-width-1200 {
      height: 337px;
    }

    @include screen-max-width-767 {
      height: 180px;
    }
  }

  .slide-image {
    object-fit: cover;
    object-position: center;
    @include screen-max-width-1500 {
      object-fit: contain;
    }
  }

  .slider {
    h3 {
      text-align: center;
      color: white;
      margin-top: 15px;
      font-size: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 8px;
      background: linear-gradient(
                      to top,
                      rgba(0, 0, 0, 0.55),
                      rgba(0, 0, 0, 0.1)
      );
      pointer-events: none;
    }
  }
}

.slick-slide {
  img {
    cursor: pointer;
  }
}

/* slick arrows hide */
.slick-prev {
  display: none;

  &:before {
    display: none;
  }
}

.slick-next {
  display: none;

  &:before {
    display: none;
  }
}

/* slick fixes */
.slider,
.slick-list,
.slick-track,
.slick-slide,
.slick-slide > div {
  height: 100%;
}

.slick-track {
  width: 100%;
  height: 100%;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-arrow {
  display: none !important;
}
.slick-dots {
  li {
    button {
      &:before {
        color: white;
      }
    }
  }
}