@use '../../mixin' as *;
.nav-wrap-bottom {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  nav {
    ul {
      position: fixed;
      bottom: 0;
      display: flex;
      z-index: calc(300 + 1);
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 55px;
      min-height: 55px;
      padding: 35px 20px;
      background: #18133b;
      border-top: 1px solid #18133b;
      .deposit-li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      li {
        width: calc(20% - 16px);
        .wallet-btn {
          position: absolute;
          top: -25px;
          left: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          box-shadow: 0px -2px 8.5px 0px;
          background: transparent;
          border-radius: 50%;
          translate: -50% 0;
        }
        .deposit-text {
          margin-top: 26px;
        }
        button {
          display: flex;
          flex-direction: column;
          gap: 5px;
          text-align: center;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          border: none;
          color: white;
          font-size: 16px;
          cursor: pointer;
          @include screen-max-width-767 {
            font-size: 13px;
          }
          @include screen-max-width-567 {
            font-size: 9px;
          }
          i {
            background-color: white;
            font-size: 22px;
          }
        }
      }
    }
  }
  .tabs-list {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      li {
        background-color: #211a4f;
        padding: 15px;
        width: calc(33.33% - 20px);
        border-radius: 10px;
        a {
          color: white;
        }
        @include screen-max-width-567 {
          width: calc(50% - 10px);
        }
      }
    }
  }
}