@use '../../mixin' as *;
.lang-dropdown {
  position: relative;
  display: inline-block;

  .lang-selected {
    background: transparent;
    border: none;
    cursor: pointer;
    i {
      font-size: 28px; /* ինչքան պետքա */
    }
  }
  .lang-menu {
    position: absolute;
    top: 50px;
    left: -30px;
    background: #2b1f72;
    border-radius: 6px;
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    z-index: 999;
    .lang-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 6px 12px;
      background: none;
      border: none;
      cursor: pointer;
      color: white;
      i {
        font-size: 18px;
        background-color: transparent;
      }
      &:hover {
        background: rgba(255,255,255,0.1);
      }
    }
  }
}

