@use "variables" as *;
@use "./mixin" as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $darkBlue;
  font-family: sans-serif;
}

ul li {
  list-style-type: none;
}
a {
  display: block;
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.Toastify__toast--success {
  width: 100%;
}
.Toastify__toast--error {
  width: 1000px;
  @include screen-max-width-1200 {
    width: 100%;
  }
}
.admin-body {
  background: #000;
  min-height: 100vh;
}
.app-body {
  margin: 0;
  padding: 0;
}